body {
    background: #9297B9;
}

.outer {
    position: absolute;
    width: 90%;
    height: 675px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 25px 30px 20px rgba(0, 0, 0, 0.25);
    background: #E5A395;
}

.left {
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
    background-image: url(left.jpg);
    background-position: center;
    background-size: cover;
}

.left img {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
    height: 100px;
}

.left h1 {
    position: absolute;
    top: 70%;
    left: 5%;
    font-family: 'Merienda';
    font-style: normal;
    font-size: 45px;
    line-height: 72px;
    color: #B85F4A;
    text-shadow: 15px 0px 5px #E5E6E9;
}

.left p {
    position: absolute;
    top: 82%;
    left: 10%;
    font-family: 'Merienda';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
    color: #C47360;
    text-shadow: 15px 0px 5px #CFD1D5;
}

.left p a {
    color: #4A7DB8;
    text-decoration: underline;
}

.left p a:hover {
    color: #195596;
}

.right {
    position: relative;
    float: right;
    width: 50%;
    height: 100%;
}

.right-outer {
    position: absolute;
    height: 550px;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FEFFFF;
    border-radius: 25px;
    box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.25);
}

.right-outer form {
    position: absolute;
    height: 480px;
    width: 78%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Merienda';
}

form h1 {
    position: relative;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 55px;
    text-align: center;
    color: #B85F4A;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

form .group { 
    position:relative; 
    margin-top: 40px;
}

form input {
    font-family: 'Merienda';
    font-size: 15px;
    padding: 10px 10px 5px 5px;
    display: block;
    width: 95%;
    border: none;
    border-bottom: 1px solid #757575;
}

form input:focus {
    outline: none;
    border-bottom: 2px solid #B85F4A;
}

form label {
    font-size: 15px;
    position: absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
}

form input:focus ~ label, input:valid ~ label 		{
    top: -20px;
    font-size: 12px;
    color:#B85F4A;
  }

form button {
    position: relative;
    margin-top: 50px;
    width: 236px;
    height: 38px;
    background: #B85F4A;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Merienda';
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

form button:hover {
    background: #E5A395;
    color: black;
}


form .fp p {
    position: relative;
    text-align: center;
    margin-top: 20px;
    font-size: 15px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #4A7DB8;
}

form .fp p:hover {
    color: #195596;
}

form .ask p {
    position: relative;
    text-align: center;
    margin-top: 40px;
    font-size: 15px;
    line-height: 22px;
}

form .ask p a {
    color: #4A7DB8;
    text-decoration-line: underline;
}

form .ask p a:hover {
    color: #195596;
}

/* REGISTER */

.right-outer-re {
    position: absolute;
    height: 620px;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FEFFFF;
    border-radius: 25px;
    box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.25);
}

.right-outer-re form {
    position: absolute;
    height: 565px;
    width: 78%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Merienda';
}

.right-outer-re form h1 {
    position: relative;
    font-weight: bold;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: -10px;
    text-align: center;
    color: #B85F4A;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

form .group-re { 
    position:relative; 
    margin-top: 40px;
}

form .group-re input {
    font-family: 'Merienda';
    font-size: 13px;
    padding: 10px 10px 5px 5px;
    display: block;
    width: 95%;
    border: none;
    border-bottom: 1px solid #9e8d8d;
}

form .group-re input:focus {
    outline: none;
    border-bottom: 2px solid #B85F4A;
}

form .group-re label {
    font-size: 13px;
    position: absolute;
    pointer-events:none;
    left: 5px;
    top: 10px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
}

form .group-re i {
    visibility: hidden;
    position: absolute;
    top: 10px;
    right: 10px;
}

form .group-re input:focus ~ label, input:valid ~ label {
    top: -11px;
    text-decoration-style: bold;
    font-size: 10px;
    color: #B85F4A;
  }

form .re-button {
    position: relative;
    margin-top: 35px;
    width: 220px;
    height: 38px;
    background: #B85F4A;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Merienda';
    font-weight: bold;
    font-size: 15px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

form .re-button:hover {
    color: black;
}

@media screen and (max-width: 1024px) {
    .left h1 {
        top: 74%;
        left: 7%;
        font-size: 40px;
    }
    
    .left p {
        top: 85%;
        left: 12%;
    }
    .right-outer {
        height: 590px;
        width: 75%;
    }
    form button {
        width: 195px;
        height: 38px;
        background: #B85F4A;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        font-family: 'Merienda';
        font-weight: bold;
        font-size: 18px;
        line-height: 26px;
        text-align: center;
        color: #FFFFFF;
        cursor: pointer;
    }
}

@media screen and (max-width: 768px) {
    .outer .left {
        display: none;
    }

    .outer .right {
        width: 100%;
        height: 100%;
    }

    .right-outer {
        height: 600px;
    }  

}

@media screen and (max-width: 500px) {
    .outer {
        background-color: #9297B9;
        box-shadow: none;
    }
    .right-outer {
        height: 100%;
        width: 90%;
    }
    .right-outer form {
        position: relative;
        height: 100%;
        width: 80%;
    }
    
    form h1 {
        top: 20px;
        font-size: 40px;
    }
    
    form .group { 
        position: relative; 
        margin-top: 65px;
    }
    
    form input {
        font-size: 20px;
    }
    
    form label {
        font-size: 18px;
    }
    
    form input:focus ~ label, input:valid ~ label {
        font-size: 15px;
      }
    
    form button {
        margin-top: 90px;
        width: 250px;
        height: 45px;
        font-size: 23px;
    }
    
    form .fp p {
        margin-top: 30px;
        font-size: 17px;
    }
    
    form .ask p {
        margin-top: 80px;
        font-size: 19px;
    }
}

/* @media screen and (max-width: 375px) {
    .right-outer {
        height: 90%;
    }
    form h1 {
        top: 0;
        font-size: 35px;
    }
    form button {
        margin-top: 20px;
    }
    form .ask p {
        margin-top: 70px;
        font-size: 16px;
    }
}

@media screen and (max-width: 320px) {
    .right-outer {
        height: 740px;
    }
    form .group { 
        position: relative; 
        margin-top: 60px;
    }
    form button {
        margin-top: 65px;
    }
    form .ask p {
        margin-top: 70px;
        font-size: 16px;
    }
} */


