<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/rl.css">
    <link href='https://fonts.googleapis.com/css?family=Merienda' rel='stylesheet'>
    <title>Register</title>
</head>
<body>
    <div class="outer">
        <div class="left" style="background-image: url(images/left.jpg);">
            <img src="images/logo.png">
            <h1>Welcome</h1>
            <p>Sign up to continue</p>
        </div>
        <div class="right">
            <div class="right-outer-re">
                <form action="/register" method="POST">
                    <h2>Register</h2>
                    <div class="group-re">
                        <input type="text" id="first_name" name="first_name" required="required"
                        placeholder="First Name">
                    </div>
                    <div class="group-re">
                        <input type="text" id="last_name" name="last_name" required="required"
                        placeholder="Last Name">
                    </div>
                    <div class="group-re">
                        <input type="email" id="email" name="email" required="required"
                        placeholder="Email">
                    </div>
                    <div class="group-re">      
                      <input type="text" id="user_name" name="user_name" required="required"
                      placeholder="Username">
                    </div>      
                    <div class="group-re">      
                      <input type="password" id="password" name="password" required="required"
                      placeholder="Password">
                    </div>
                    <center><button><a href="#">Sign Up</a></button></center>
                    <div class="ask-re">
                        <p>Already have an account? <a href="/login">Sign in</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="dp.js"></script>
</body>
</html>